<div class="container-header">
  <%= link_to 'Wikinimous', articles_path %>
  <%= link_to 'New Article', new_article_path %>
</div>

<div class="container">
  <h3 style="font-weight: 700"><%= @article.title %></h3>
  <p><%= @article.content %></p>
  <div class="container-options py-3">
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Back', articles_path %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: {
      confirm: 'Are you sure you want to delete?' }  %>
  </div>
</div>

